name: Android CI

on:
  push:
    branches:
      - main
      - develop

jobs:
  build:
    runs-on: ubuntu-latest
    steps: 
    - name: Checkout
      uses: actions/checkout@v4.1.1
    - name: Setup Java JDK
      uses: actions/setup-java@v1.4.4
      with:
          java-version: 1.8
          
  test_job:
    name: Test
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
#      - name: Cache
#        uses: actions/cache@v2
#        with:
#          path: |
#            ~/.gradle/caches
#            ~/.gradle/wrapper
#          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
#          restore-keys: |
#            ${{ runner.os }}-gradle-

      - name: Run Debug Tests
        run: ./gradlew testDebugUnitTest --continue

      - name: Upload Test Reports
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: test-reports
          path: '**/build/reports/tests/'

  code_formatting_job:
    name: Code Formatting
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Run Debug ktlint
        run: ./gradlew ktlintDebugCheck --continue

      - name: Upload ktlint Reports
        if: ${{ always() }}
        uses: actions/upload-artifact@v2
        with:
          name: ktlint-report
          path: '**/build/reports/ktlint'

  lint_job:
    name: Lint
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - name: Checkout
      uses: actions/checkout@v4.1.1

#    - name: Cache
#      uses: actions/cache@v4.0.0
#      with:
#          path: |
#            ~/.gradle/caches
#            ~/.gradle/wrapper
#          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
#          restore-keys: |
#            ${{ runner.os }}-gradle-

    - name: Run Debug Lint
      run: ./gradlew lintDebug

    - name: Upload Lint Reports
      if: ${{ always() }}
      uses: actions/upload-artifact@v2
      with:
          name: lint-report
          path: '**/build/reports/lint-results-*'

  assemble_job:
    name: Assemble
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:

    - name: Checkout
      uses: actions/checkout@v4.1.1

#    - name: Cache
#      uses: actions/cache@v4.0.0
#      with:
#          path: |
#            ~/.gradle/caches
#            ~/.gradle/wrapper
#          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
#          restore-keys: |
#            ${{ runner.os }}-gradle-

    - name: Assemble Debug
      run: ./gradlew assembleDebug

    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
          name: apk
          path: app/build/outputs/apk/debug/**.apk
